<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/aboutstyle.css">
</head>
<body>
    <h1 class="heading">About This Project</h1>
    <h2>In This Project I'll use the concepts of <u>REST</u> which is use to creating web services.</h2>
    <br>
    <h3>What is CRUD ? </h3>
    <h3><u>CRUD</u> is basically stands for :- </h3>
    <div>
        <h3>C -> CREATE</h3>
        <h3>R -> READ</h3>
        <h3>U -> UPDATE</h3>
        <h3>D -> DELETE</h3>
    </div>
    <div>
        <h4>Method Used to create this Project is :-</h4> 
        <h3>GET , POST , PUT , PATCH , DELETE</h3>
    </div>
    <h4>In This Project I am not using Backend Components.</h4>
</body>
</html>