<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/aboutstyle.css">
</head>
<body>
    <h1>About This Project</h1>
    <h2>In This Project I'll use the concepts of REST which is use to creating web services.</h2>
    <h3>What is CRUD ? </h3>
    <br>
    <h3>CRUD is basically stands for :- CREATE , READ , UP=</h3>
</body>
</html>