<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main file for views</title>
    <link rel="stylesheet" href="styleindex.css">
</head>
<body class="body">
    <div class="maindiv">
        <h1 class="heading">Posts</h1>
        <div class="postsdivouter">
            <% for(post of posts){ %>
            <div class="postsdivinner">
                <h2 class="username">@<%= post.username %></h2>
                <div class="contentdiv">
                    <h4 class="h4"><%= post.content %></h4>
                </div>
            </div>
            <% } %>
            <div class="buttondiv">
                <button class="button"><a href="http://localhost:8080/posts/new">Create New Post</a></button>
                <button class="button"><a href="http://localhost:8080/posts/<%= post.id %>">Details</a></button>
            </div>
        </div>
    </div>
</body>
</html>