<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" type="text" placeholder="Username">
        <br><br>
        <textarea name="content" id="content" placeholder="Enter your Content here"></textarea>
        <br>
        <button type="submit"> New Post </button>
    </form>
</body>
</html>