<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="/newstyle.css">
</head>
<body>
    <h2 class="heading">Create New Post</h2>
    <div class="postsdivouter">
        <form method="post" action="/posts">
            <div class="contentdiv">
                <div class="username">
                    <label for="username"><h2>Enter the Username</h2></label>
                    <div>
                        <input class="inputuser" id="username" name="username" type="text" placeholder="Username">
                    </div>
                </div>
                <br>
                <div class="contentdivinner">
                    <label for="content"><h2>Content</h2></label>
                    <textarea name="content" id="content" placeholder="Enter your Content here" rows="10" cols="60"></textarea>
                </div>
                <br>
                <div class="buttondiv">
                    <button class="button" type="submit">Make Post </button>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>