<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show each post</title>
</head>
<body>
    <div>
        <h1>Post Details</h1>
        <p>Post ID :<%= post.id %></p>
        <div class="posts">
            <h3 class="user"> @<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
        </div>
    </div>
</body>
</html>