<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show each post</title>
    <link rel="stylesheet" href="/showstyle.css">
</head>
<body class="body">
    <div>
        <h1 class="heading">Post Details</h1>
        <div class="postsdivouter">
            <div class="iddiv">
            <p>Post ID :<%= post.id %></p> 
            </div>
            <div class="content">
                <h3 class="username"> @<%= post.username %></h3>
                <div class="contentdiv">
                    <h4 class="h4"><%= post.content %></h4>
                </div>
            </div>
            <button class="button"><a href="/posts">Back</a></button>
        </div>
    </div>
</body>
</html>