body{
    background-color: antiquewhite;
}
.heading{
    text-align: center;
    color: maroon;
    text-decoration: underline;
}
.postsdivouter{
    border: 1px solid black;
    border-radius:15px ;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}
.username{
    margin-left: 20px;
}